{
    "plugins": ["prettier-plugin-tailwindcss"],
    "trailingComma": "none",
    "arrowParens": "always",
    "bracketSameLine": true,
    "bracketSpacing": true,
    "endOfLine": "crlf",
    "experimentalTernaries": true,
    "jsxSingleQuote": true,
    "quoteProps": "as-needed",
    "singleQuote": true,
    "singleAttributePerLine": true,
    "semi": false,
    "printWidth": 120
}